.jumbotron{
    padding-top: 7rem;
    background-color: #C9DABF;
}
.navbar{
    background-color: #5F6F65;
}

section{
    padding-top: 6rem;
}

.gallery-img {
    width:95%;
}

#galeri .row > * {
    padding: 0;
    margin-bottom: 1rem;
}